
:root	{
        --L0: #FFCCCC;       --D0: #FF0000;
        --L1: #FFEFD0;       --D1: #FFB014;
        --L2: #FCFACC;       --D2: #EFE600;
        --L3: #CCF6CC;       --D3: #00D300;
        --L4: #DACCFF;       --D4: #4800FF;
        --L5: #F1CCFA;       --D5: #B800E5;
        --L6: #FFCCF5;       --D6: #FF00CB;
     
        --C00: #800000;      --C01: #9A6324;
        --C02: #808000;      --C03: #469990;
        --C04: #000075;      --C05: #E6194B;
        --C06: #F58231;      --C07: #ffe119;
        --C08: #BFEF45;      --C09: #3CB44B;
        --C10: #42D4F4;      --C11: #4363D8;
        --C12: #911EB4;      --C13: #F032E6;
        --C14: #FABED4;      --C15: #FFD8B1;
        --C16: #FFFAC8;      --C17: #AAFFC3;
        --C19: #DCEBFF;
     }
     body { background-color:  rgb(115, 115, 124); }
     .inner { position:absolute; bottom:0; left:0; width:16px; 
             text-align:center;  border-radius: 50%;
            }
     
     .on { background-color: #e6294b; }
     select { width:16em; }
     #selectRoot     { width:3em; }
     #selectMode     { width:10em; }
     #selectTrack    { width:10em; }
     #selWhich       { width:5em; }
     #selectChord    { width:5em; }
     #bars { position:relative; border: 1px solid white; width:1000px; height:302px; }
	 .tic { position: absolute; bottom:1px; height:300px; width:1px; background-color: white; }
	 .bar { position: absolute; bottom:1px; height:300px; width:1px; background-color: gray; }
	 
     .r0 { position: absolute; bottom: 01px; height:15px; }
     .r1 { position: absolute; bottom: 16px; height:15px; }
     .r2 { position: absolute; bottom: 31px; height:15px; }
     .r3 { position: absolute; bottom: 46px; height:15px; }
     .r4 { position: absolute; bottom: 61px; height:15px; }
     .r5 { position: absolute; bottom: 76px; height:15px; }
     .r6 { position: absolute; bottom: 91px; height:15px; }
     .r7 { position: absolute; bottom:106px; height:15px; }
     .r8 { position: absolute; bottom:121px; height:15px; }
     .r9 { position: absolute; bottom:136px; height:15px; }
     .r10{ position: absolute; bottom:151px; height:15px; }
     .r11{ position: absolute; bottom:166px; height:15px; }
     .r12{ position: absolute; bottom:181px; height:15px; }
     .r13{ position: absolute; bottom:196px; height:15px; }
     .r14{ position: absolute; bottom:211px; height:15px; }
     .r15{ position: absolute; bottom:226px; height:15px; }
     .r16{ position: absolute; bottom:241px; height:15px; }
     .r17{ position: absolute; bottom:256px; height:15px; }
     .r18{ position: absolute; bottom:271px; height:15px; }
     .r19{ position: absolute; bottom:286px; height:15px; }

     .sp1 { width:1000px; background-color: var(--L0); }
     .sp2 { width:1000px; background-color: var(--L1); }
     .sp3 { width:1000px; background-color: var(--L2); }
     .sp4 { width:1000px; background-color: var(--L3); }
     .sp5 { width:1000px; background-color: var(--L4); }
     .sp6 { width:1000px; background-color: var(--L5); }
     .sp7 { width:1000px; background-color: var(--L6); }
     .n1  { background-color: var(--D0); }
     .n2  { background-color: var(--D1); }
     .n3  { background-color: var(--D2); }
     .n4  { background-color: var(--D3); }
     .n5  { background-color: var(--D4); }
     .n6  { background-color: var(--D5); }
     .n7  { background-color: var(--D6); }
    
     .ln1 { width: 20px; }
     .ln2 { width: 40px; }
     .ln3 { width: 60px; }
     .ln4 { width: 80px; }
     .ln5 { width: 100px; }
     .ln6 { width: 120px; }
	 
     .t1  { left: 20px; }
     .t2  { left: 40px; }
     .t3  { left: 60px; }
     .t4  { left: 80px; }
     .t5  { left: 100px; }
     .t6  { left: 120px; }
     .t7  { left: 140px; }
     .t8  { left: 160px; }
     .t9  { left: 180px; }
     .t10 { left: 200px; }
     .t11 { left: 220px; }
     .t12 { left: 240px; }
