
:root	{
        --L0: #FFCCCC;       --D0: #FF0000;
        --L1: #FFEFD0;       --D1: #FFB014;
        --L2: #FCFACC;       --D2: #EFE600;
        --L3: #CCF6CC;       --D3: #00D300;
        --L4: #DACCFF;       --D4: #4800FF;
        --L5: #F1CCFA;       --D5: #B800E5;
        --L6: #FFCCF5;       --D6: #FF00CB;
     
        --C00: #800000;      --C01: #9A6324;
        --C02: #808000;      --C03: #469990;
        --C04: #000075;      --C05: #E6194B;
        --C06: #F58231;      --C07: #ffe119;
        --C08: #BFEF45;      --C09: #3CB44B;
        --C10: #42D4F4;      --C11: #4363D8;
        --C12: #911EB4;      --C13: #F032E6;
        --C14: #FABED4;      --C15: #FFD8B1;
        --C16: #FFFAC8;      --C17: #AAFFC3;
        --C19: #DCEBFF;
     }
     body { background-color:  rgb(105, 105, 156); }
     .inner { position:absolute; bottom:0; left:0; width:16px; 
             text-align:center;  border-radius: 50%;
            }
     
     .on { background-color: #e6294b; }
     select { width:16em; }
     #selectRoot     { width:3em; }
     #selectMode     { width:10em; }
     #selectTrack    { width:10em; }
     #selWhich       { width:5em; }
     #selectChord    { width:5em; }
     #selChdOff      { width:4em; }
     #bars { position:relative; border: 1px solid white; width:1000px; height:320px;
            overflow: auto; }

     .tic { position: absolute; bottom:1px; height:300px; width:1px; background-color: white; }
     .bar { position: absolute; bottom:1px; height:300px; width:1px; background-color: gray; }
	 
     .r0  { position: absolute; bottom: 01px; height:15px; }
     .r0p { position: absolute; bottom: 08px; height:15px; }
     .r1  { position: absolute; bottom: 16px; height:15px; }
     .r1p { position: absolute; bottom: 23px; height:15px; }
     .r2  { position: absolute; bottom: 31px; height:15px; }
     .r2p { position: absolute; bottom: 38px; height:15px; }
     .r3  { position: absolute; bottom: 46px; height:15px; }
     .r3p { position: absolute; bottom: 53px; height:15px; }
     .r4  { position: absolute; bottom: 61px; height:15px; }
     .r4p { position: absolute; bottom: 68px; height:15px; }
     .r5  { position: absolute; bottom: 76px; height:15px; }
     .r5p { position: absolute; bottom: 83px; height:15px; }
     .r6  { position: absolute; bottom: 91px; height:15px; }
     .r6p { position: absolute; bottom: 98px; height:15px; }
     .r7  { position: absolute; bottom:106px; height:15px; }
     .r7p { position: absolute; bottom:113px; height:15px; }
     .r8  { position: absolute; bottom:121px; height:15px; }
     .r8p { position: absolute; bottom:128px; height:15px; }
     .r9  { position: absolute; bottom:136px; height:15px; }
     .r9p { position: absolute; bottom:143px; height:15px; }
     .r10 { position: absolute; bottom:151px; height:15px; }
     .r10p{ position: absolute; bottom:158px; height:15px; }
     .r11 { position: absolute; bottom:166px; height:15px; }
     .r11p{ position: absolute; bottom:173px; height:15px; }
     .r12 { position: absolute; bottom:181px; height:15px; }
     .r12p{ position: absolute; bottom:188px; height:15px; }
     .r13 { position: absolute; bottom:196px; height:15px; }
     .r13p{ position: absolute; bottom:203px; height:15px; }
     .r14 { position: absolute; bottom:211px; height:15px; }
     .r14p{ position: absolute; bottom:218px; height:15px; }
     .r15 { position: absolute; bottom:226px; height:15px; }
     .r15p{ position: absolute; bottom:233px; height:15px; }
     .r16 { position: absolute; bottom:241px; height:15px; }
     .r16p{ position: absolute; bottom:248px; height:15px; }
     .r17 { position: absolute; bottom:256px; height:15px; }
     .r17p{ position: absolute; bottom:263px; height:15px; }
     .r18 { position: absolute; bottom:271px; height:15px; }
     .r18p{ position: absolute; bottom:278px; height:15px; }
     .r19 { position: absolute; bottom:286px; height:15px; }

     .sp0 { width: 5000px; background-color: var(--L0); }
     .sp1 { width: 5000px; background-color: var(--L1); }
     .sp2 { width: 5000px; background-color: var(--L2); }
     .sp3 { width: 5000px; background-color: var(--L3); }
     .sp4 { width: 5000px; background-color: var(--L4); }
     .sp5 { width: 5000px; background-color: var(--L5); }
     .sp6 { width: 5000px; background-color: var(--L6); }

     .n0  { background-color: var(--D0); }
     .n01 { background: repeating-linear-gradient(45deg, var(--D0), var(--D0) 10px, var(--D1) 10px, var(--D1) 20px); }
     .n1  { background-color: var(--D1); }
     .n12 { background: repeating-linear-gradient(45deg, var(--D1), var(--D1) 10px, var(--D2) 10px, var(--D2) 20px); }
     .n2  { background-color: var(--D2); }
     .n23 { background: repeating-linear-gradient(45deg, var(--D2), var(--D2) 10px, var(--D3) 10px, var(--D3) 20px); }
     .n3  { background-color: var(--D3); }
     .n34 { background: repeating-linear-gradient(45deg, var(--D3), var(--D3) 10px, var(--D4) 10px, var(--D4) 20px); }
     .n4  { background-color: var(--D4); }
     .n45 { background: repeating-linear-gradient(45deg, var(--D4), var(--D4) 10px, var(--D5) 10px, var(--D5) 20px); }
     .n5  { background-color: var(--D5); }
     .n56 { background: repeating-linear-gradient(45deg, var(--D5), var(--D5) 5px, var(--D6) 5px, var(--D6) 10px); }
     .n6  { background-color: var(--D6); }
     .n60 { background: repeating-linear-gradient(45deg, var(--D6), var(--D6) 10px, var(--D7) 10px, var(--D7) 20px); }
   
     .ln1  { width:  19px; }
     .ln2  { width:  39px; }
     .ln3  { width:  59px; }
     .ln4  { width:  79px; }
     .ln5  { width:  99px; }
     .ln6  { width: 119px; }
     .ln7  { width: 139px; }
     .ln8  { width: 159px; }
     .ln9  { width: 179px; }
     .ln10 { width: 199px; }
	 .ln11 { width: 219px; } 
     .ln12 { width: 239px; } 
     .ln13 { width: 259px; } 
     .ln14 { width: 279px; } 
     .ln15 { width: 299px; } 
     .ln16 { width: 319px; } 
     .ln17 { width: 339px; } 
     .ln18 { width: 359px; } 
     .ln19 { width: 379px; } 
     .ln20 { width: 399px; } 
	 
	 .t1   { left: 20px; }	 
	 .t2   { left: 40px; }	 
	 .t3   { left: 60px; }	 
	 .t4   { left: 80px; }	 
	 .t5   { left: 100px; }	 
	 .t6   { left: 120px; }	 
	 .t7   { left: 140px; }	 
	 .t8   { left: 160px; }	 
	 .t9   { left: 180px; }	 
     .t10  { left: 200px; }
     .t11  { left: 220px; }
     .t12  { left: 240px; }
     .t13  { left: 260px; }
     .t14  { left: 280px; }
     .t15  { left: 300px; }
     .t16  { left: 320px; }
     .t17  { left: 340px; }
     .t18  { left: 360px; }
     .t19  { left: 380px; }
     .t20  { left: 400px; }
     .t21  { left: 420px; }
     .t22  { left: 440px; }
     .t23  { left: 460px; }
     .t24  { left: 480px; }
     .t25  { left: 500px; }
     .t26  { left: 520px; }
     .t27  { left: 540px; }
     .t28  { left: 560px; }
     .t29  { left: 580px; }
     .t30  { left: 600px; }
     .t31  { left: 620px; }
     .t32  { left: 640px; }
     .t33  { left: 660px; }
     .t34  { left: 680px; }
     .t35  { left: 700px; }
     .t36  { left: 720px; }
     .t37  { left: 740px; }
     .t38  { left: 760px; }
     .t39  { left: 780px; }
     .t40  { left: 800px; }
     .t41  { left: 820px; }
     .t42  { left: 840px; }
     .t43  { left: 860px; }
     .t44  { left: 880px; }
     .t45  { left: 900px; }
     .t46  { left: 920px; }
     .t47  { left: 940px; }
     .t48  { left: 960px; }
     .t49  { left: 980px; }
     .t50  { left: 1000px; }
     .t51  { left: 1020px; }
     .t52  { left: 1040px; }
     .t53  { left: 1060px; }
     .t54  { left: 1080px; }
     .t55  { left: 1100px; }
     .t56  { left: 1120px; }
     .t57  { left: 1140px; }
     .t58  { left: 1160px; }
     .t59  { left: 1180px; }
     .t60  { left: 1200px; }
     .t61  { left: 1220px; }
     .t62  { left: 1240px; }
     .t63  { left: 1260px; }
     .t64  { left: 1280px; }
     .t65  { left: 1300px; }
     .t66  { left: 1320px; }
     .t67  { left: 1340px; }
     .t68  { left: 1360px; }
     .t69  { left: 1380px; }
     .t70  { left: 1400px; }
     .t71  { left: 1420px; }
     .t72  { left: 1440px; }
     .t73  { left: 1460px; }
     .t74  { left: 1480px; }
     .t75  { left: 1500px; }
     .t76  { left: 1520px; }
     .t77  { left: 1540px; }
     .t78  { left: 1560px; }
     .t79  { left: 1580px; }
     .t80  { left: 1600px; }
     .t81  { left: 1620px; }
     .t82  { left: 1640px; }
     .t83  { left: 1660px; }
     .t84  { left: 1680px; }
     .t85  { left: 1700px; }
     .t86  { left: 1720px; }
     .t87  { left: 1740px; }
     .t88  { left: 1760px; }
     .t89  { left: 1780px; }
     .t90  { left: 1800px; }
     .t91  { left: 1820px; }
     .t92  { left: 1840px; }
     .t93  { left: 1860px; }
     .t94  { left: 1880px; }
     .t95  { left: 1900px; }
     .t96  { left: 1920px; }
     .t97  { left: 1940px; }
     .t98  { left: 1960px; }
     .t99  { left: 1980px; }
     .t100 { left: 2000px; }
     .t101 { left: 2020px; }
     .t102 { left: 2040px; }
     .t103 { left: 2060px; }
     .t104 { left: 2080px; }
     .t105 { left: 2100px; }
     .t106 { left: 2120px; }
     .t107 { left: 2140px; }
     .t108 { left: 2160px; }
     .t109 { left: 2180px; }
     .t110 { left: 2200px; }
     .t111 { left: 2220px; }
     .t112 { left: 2240px; }
     .t113 { left: 2260px; }
     .t114 { left: 2280px; }
     .t115 { left: 2300px; }
     .t116 { left: 2320px; }
     .t117 { left: 2340px; }
     .t118 { left: 2360px; }
     .t119 { left: 2380px; }
     .t120 { left: 2400px; }
     .t121 { left: 2420px; }
     .t122 { left: 2440px; }
     .t123 { left: 2460px; }
     .t124 { left: 2480px; }
     .t125 { left: 2500px; }
     .t126 { left: 2520px; }
     .t127 { left: 2540px; }
     .t128 { left: 2560px; }
     .t129 { left: 2580px; }
     .t130 { left: 2600px; }
     .t131 { left: 2620px; }
     .t132 { left: 2640px; }
     .t133 { left: 2660px; }
     .t134 { left: 2680px; }
     .t135 { left: 2700px; }
     .t136 { left: 2720px; }
     .t137 { left: 2740px; }
     .t138 { left: 2760px; }
     .t139 { left: 2780px; }
     .t140 { left: 2800px; }
     .t141 { left: 2820px; }
     .t142 { left: 2840px; }
     .t143 { left: 2860px; }
     .t144 { left: 2880px; }
     .t145 { left: 2900px; }
     .t146 { left: 2920px; }
     .t147 { left: 2940px; }
     .t148 { left: 2960px; }
     .t149 { left: 2980px; }
     .t150 { left: 1000px; }
     .t151 { left: 1020px; }
     .t152 { left: 1040px; }
     .t153 { left: 3060px; }
     .t154 { left: 3080px; }
     .t155 { left: 3100px; }
     .t156 { left: 3120px; }
     .t157 { left: 3140px; }
     .t158 { left: 3160px; }
     .t159 { left: 3180px; }
     .t160 { left: 3200px; }
     .t161 { left: 3220px; }
     .t162 { left: 3240px; }
     .t163 { left: 3260px; }
     .t164 { left: 3280px; }
     .t165 { left: 3300px; }
     .t166 { left: 3320px; }
     .t167 { left: 3340px; }
     .t168 { left: 3360px; }
     .t169 { left: 3380px; }
     .t170 { left: 3400px; }
     .t171 { left: 3420px; }
     .t172 { left: 3440px; }
     .t173 { left: 3460px; }
     .t174 { left: 3480px; }
     .t175 { left: 3500px; }
     .t176 { left: 3520px; }
     .t177 { left: 3540px; }
     .t178 { left: 3560px; }
     .t179 { left: 3580px; }
     .t180 { left: 3600px; }
     .t181 { left: 3620px; }
     .t182 { left: 3640px; }
     .t183 { left: 3660px; }
     .t184 { left: 3680px; }
     .t185 { left: 3700px; }
     .t186 { left: 3720px; }
     .t187 { left: 3740px; }
     .t188 { left: 3760px; }
     .t189 { left: 3780px; }
     .t190 { left: 3800px; }
     .t191 { left: 3820px; }
     .t192 { left: 3840px; }
     .t193 { left: 3860px; }
     .t194 { left: 3880px; }
     .t195 { left: 3900px; }
     .t196 { left: 3920px; }
     .t197 { left: 3940px; }
     .t198 { left: 3960px; }
     .t199 { left: 3980px; }
     .t200 { left: 4000px; }
     .t201 { left: 4020px; }
     .t202 { left: 4040px; }
     .t203 { left: 4060px; }
     .t204 { left: 4080px; }
     .t205 { left: 4100px; }
     .t206 { left: 4120px; }
     .t207 { left: 4140px; }
     .t208 { left: 4160px; }
     .t209 { left: 4180px; }
     .t210 { left: 4200px; }
     .t211 { left: 4220px; }
     .t212 { left: 4240px; }
     .t213 { left: 4260px; }
     .t214 { left: 4280px; }
     .t215 { left: 4300px; }
     .t216 { left: 4320px; }
     .t217 { left: 4340px; }
     .t218 { left: 4360px; }
     .t219 { left: 4380px; }
     .t220 { left: 4400px; }
     .t221 { left: 4420px; }
     .t222 { left: 4440px; }
     .t223 { left: 4460px; }
     .t224 { left: 4480px; }
     .t225 { left: 4500px; }
     .t226 { left: 4520px; }
     .t227 { left: 4540px; }
     .t228 { left: 4560px; }
     .t229 { left: 4580px; }
     .t230 { left: 4600px; }
     .t231 { left: 4620px; }
     .t232 { left: 4640px; }
     .t233 { left: 4660px; }
     .t234 { left: 4680px; }
     .t235 { left: 4700px; }
     .t236 { left: 4720px; }
     .t237 { left: 4740px; }
     .t238 { left: 4760px; }
     .t239 { left: 4780px; }
     .t240 { left: 4800px; }
     .t241 { left: 4820px; }
     .t242 { left: 4840px; }
     .t243 { left: 4860px; }
     .t244 { left: 4880px; }
     .t245 { left: 4900px; }
     .t246 { left: 4920px; }
     .t247 { left: 4940px; }
     .t248 { left: 4960px; }
     .t249 { left: 4980px; }
     .t250 { left: 5000px; }
     .t251 { left: 5020px; }
     .t252 { left: 5040px; }
     .t253 { left: 5060px; }
     .t254 { left: 5080px; }
     .t255 { left: 5100px; }
     .t256 { left: 5120px; }
     .t257 { left: 5140px; }
     .t258 { left: 5160px; }
     .t259 { left: 5180px; }
     .t260 { left: 5200px; }
     .t261 { left: 5220px; }
     .t262 { left: 5240px; }
     .t263 { left: 5260px; }
     .t264 { left: 5280px; }
     .t265 { left: 5300px; }
     .t266 { left: 5320px; }
     .t267 { left: 5340px; }
     .t268 { left: 5360px; }
     .t269 { left: 5380px; }
     .t270 { left: 5400px; }
     .t271 { left: 5420px; }
     .t272 { left: 5440px; }
     .t273 { left: 5460px; }
     .t274 { left: 5480px; }
     .t275 { left: 5500px; }
     .t276 { left: 5520px; }
     .t277 { left: 5540px; }
     .t278 { left: 5560px; }
     .t279 { left: 5580px; }
     .t280 { left: 5600px; }
     .t281 { left: 5620px; }
     .t282 { left: 5640px; }
     .t283 { left: 5660px; }
     .t284 { left: 5680px; }
     .t285 { left: 5700px; }
     .t286 { left: 5720px; }
     .t287 { left: 5740px; }
     .t288 { left: 5760px; }
     .t289 { left: 5780px; }
     .t290 { left: 5800px; }
     .t291 { left: 5820px; }
     .t292 { left: 5840px; }
     .t293 { left: 5860px; }
     .t294 { left: 5880px; }
     .t295 { left: 5900px; }
     .t296 { left: 5920px; }
     .t297 { left: 5940px; }
     .t298 { left: 5960px; }
     .t299 { left: 5980px; }
